extends layout

block content
    h1= title
    - var image_names = ["image1.jpg","image2.jpg","image3.jpg","image4.png","image5.jpg"];
    - for(let i =0; i<3; i++){
        - let number = Math.floor(Math.random()*5)
        img(src= `/images/${image_names[number]}` alt="images" height='300px' width='300px')
    - }
